@import "./styling/colors-waybar.css";
@import "./styling/workspace.css";
@import "./styling/custom/dec.css";
@import "./styling/bar.css";
@import "./styling/general.css";
@import "./styling/stock.css";
@import "./styling/custom/launcher.css";
@import "./styling/custom/battery.css";
@import "./styling/custom/apptitle.css";
@import "./styling/custom/clock.css";
@import "./styling/custom/privacycontainer.css";
@import "./styling/custom/maincontainer.css";

* {
	border: none;
	font-family: JetBrainsMono Nerd Font;
	font-size: 15px;
}

#memory {
	color: @primary;
}

#backlight {
	color: @primary;
}

#network {
	color: @on-background;
}

#network.disconnected {
	color: @secondary;
}
